

<!--{% extends "base.html" %}

{% block title %}<title>Registrate</title>{% endblock %}

{% load static %}

{% block base_head%}

<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Music School Registration Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
-->
	<!-- fonts --><!--
	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700&amp;subset=bengali,latin-ext" rel="stylesheet">
-->
	<!-- /fonts -->

	<!-- css -->
	<!--<link href="{% static 'css/Address_style.css' %}" rel="stylesheet" type='text/css' media="all" />-->
	<!-- /css -->


<!--{% endblock %}-->

<!--{% block content %}


<h1 class="w3layouts">¡Indica la dirección <BR> para el envío! </h1>
	<div class="clear"></div>
	<div class="content-w3ls">

		<div class="form_w3layouts">
			<form method='POST' class="agile_form" action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
			    {% if next_url %}
			    <input type='hidden' name='next' value='{{ next_url }}' />
			    {% endif %}

			    {% if address_type %}
			    <input type='hidden' name='address_type' value='{{ address_type }}' />
			    {% endif %}

			    <div class="agileits-left s2-w3ls" style="padding: 8px" >
					<input type="text" name="nickname" class="nickname" placeholder="Usuario" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.nickname.errors }}
				</div>
				<div class="agileits-left s2-w3ls" style="padding: 8px">
					<input type="text" name="name" class="nickname" placeholder="Nombre y Apellido" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.name.errors }}
				</div>
				<div class="agileits-left s2-w3ls" style="padding: 8px">
					<input type="text" name="address_line_1" class="address" placeholder="Dirección (línea 1)" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.address_line_1.errors }}
				</div>
				<div class="agileits-left s2-w3ls" style="padding: 8px">
					<input type="text" name="address_line_2" class="address" placeholder="Dirección (línea 2)" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.address_line_2.errors }}
				</div>
				<div class="agileits-left s2-w3ls" style="padding: 8px">
					<input type="text" name="city" class="city" placeholder="Ciudad" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.city.errors }}
				</div>
				<div class="agileits-left s2-w3ls" style="padding: 8px">
					<input type="text" name="state" class="state" placeholder="Estado" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.state.errors }}
				</div>
				<div class="agileits-left s2-w3ls" style="padding: 8px">
					<input type="text" name="country" class="address" placeholder="País" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.country.errors }}
				</div>
				<div class="agileits-left s2-w3ls" style="padding: 8px">
					<input type="text" name="postal_code" class="postal_code" placeholder="Código Postal" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')" size = "40">
					{{ form.postal_code.errors }}
				</div>
			<center>
			  <button type='submit' class='button-submit btn btn-primary'>Enviar</button>
			</center>
			</form>
{% endblock %}-->

<form method='POST' action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif 								%}'> {% csrf_token %}
			    {% if next_url %}
			    <input type='hidden' name='next' value='{{ next_url }}' />
			    {% endif %}

			    {% if address_type %}
			    <input type='hidden' name='address_type' value='{{ address_type }}' />
			    {% endif %}
			  {{ form.as_p }}
</form>

