{% extends "base.html" %}

{% block title %}<title>Registrate</title>{% endblock %}

{% load static %}

{% block base_head%}

<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Music School Registration Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700&amp;subset=bengali,latin-ext" rel="stylesheet">

	<!-- /fonts -->

	<!-- css -->
	<link href="{% static 'css/Registrate_style.css' %}" rel="stylesheet" type='text/css' media="all" />
	<!-- /css -->


{% endblock %}


{% block content %}

     <!--<h1>Register</h1>
    <form method='POST'> {% csrf_token %}
      {{ form }}
      <button type='submit' class='btn btn-default'>Submit</button>
    </form>-->

 
    <h1 class="w3layouts">¡Sé parte de los clientes <BR> de VentasBap! </h1>
	<div class="clear"></div>
	<div class="content-w3ls">

		<div class="form_w3layouts">
			<form method="post" class="agile_form" id="register">
  			{% csrf_token %}
  			{{ signup_form.non_field_errors }}

  				<ul>
					<li>-Todos los campos son obligatorios</li>
					<li>-Longitud mínima para la contraseña: 8 caracteres</li>
				</ul>
				<br>

				<div class="agileits-left">
					<input type="text" name="full_name" class="name" placeholder="Nombre y Apellido" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.full_name.errors }}
					
				</div>
				
				<div class="agileits-left">
					<input type="text" name="ci" class="Id" placeholder="Cédula de Identidad" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.ci.errors }}
					
				</div>
				<div class="agileits-left">
					<input type="text" name="sex" class="gender" placeholder="Género" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.sex.errors }}
					
				</div><!--
				<div class="checkin agileits-left">
					<input placeholder="Fecha de Nacimiento" class="Bdate" name="Bdate" id="datepicker" type="text" value="" onfocus="this.value = '';"
					    onblur="if (this.value == '') {this.value = '';}" required="" />
					{% if form.Bdate.errors %}
						<h1>error Bdate</h1>
					{% endif %}
				</div>-->
				<div class="agileits-left s2-w3ls">
					<input type="text" name="bday" class="cellphone" placeholder="Fecha de Nacimiento (AAAA-MM-DD)" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.bday.errors }}
					
				</div>
				<div class="agileits-left s2-w3ls">
					<input type="text" name="cellphone" class="cellphone" placeholder="Número de Teléfono Móvil" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.cellphone.errors }}
					
				</div>
				<div class="agileits-left">
					<input type="text" name="city" class="City" placeholder="Ciudad Donde Vive" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.city.errors }}
					
				</div>
				<div class="agileits-left">
					<input type="email" name="email" class="email" placeholder="Correo Electrónico" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.email.errors }}
				</div>
				<!--<div class="agileits-left">
					<input type="text" name="name" class="username" placeholder="Dirección de Envío" required="">
				</div>-->
				<br>
				<div class="agileits-left">
					<input type="password" name="password1" class="password" placeholder="Contraseña" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.password1.errors }}
					
				</div>
				<div class="agileits-left">
					<input type="password" name="password2" class="password" placeholder="Confirmación de contraseña" required="" oninvalid="this.setCustomValidity('Este Campo es obligatorio')" oninput="setCustomValidity('')">
					{{ form.password2.errors }}
					
				</div>
				
				<div class="submit-w3l">
					<input name="register" type="submit" value="REGISTRATE">
				</div>
			</form>
			<br>
			<center>
					<div>
						<a href="{% url 'home' %}"><font color="black">Inicio</font></a> |
						<a href="{%url 'login' %}"><font color="black">Iniciar Sesión</font></a>
					</div>
			</center>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<h2 class="copyright-agileits">© 2018 Music School Registration. Diseñado por w3layouts | Modificado por VentasBap
	</h2>
	<!--<div class="clear"></div>-->
	<!-- js -->
	
	<!--<script src="{% static 'js/Registrate_jquery-2.2.3.min.js' %}"></script>-->
	<!-- //js -->
	<!-- date-->
	<!--<link rel="stylesheet" href="{% static 'css/Registrate_jquery-ui.css' %}" />
	<script src="{% static 'js/Registrate_jquery-ui.js' %"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1").datepicker();
		});
	</script>-->
	<!-- //date -->
	<!-- time -->
	<!--<script type="text/javascript" src="[% static 'js/Registrate_wickedpicker.js' %}"></script>
	<script type="text/javascript">
		$('.timepicker').wickedpicker({
			twentyFour: false
		});
	</script>
	<link href="{% static 'css/Registrate_wickedpicker.css' %" rel="stylesheet" type='text/css' media="all" />-->
	<!-- //time -->


  <!--<h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>-->


{% endblock %}