{% extends "base.html" %}

{% block title %}<title>Registrate</title>{% endblock %}

{% load static %}

{% block base_head%}

<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Music School Registration Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700&amp;subset=bengali,latin-ext" rel="stylesheet">

	<!-- /fonts -->

	<!-- css -->
	<link href="{% static 'css/Registrate_style.css' %}" rel="stylesheet" type='text/css' media="all" />
	<!-- /css -->


{% endblock %}


{% block content %}

     <!--<h1>Register</h1>
    <form method='POST'> {% csrf_token %}
      {{ form }}
      <button type='submit' class='btn btn-default'>Submit</button>
    </form>-->

 
    <h1 class="w3layouts">¡Sé parte de los clientes <BR> de VentasBap! </h1>
	<div class="clear"></div>
	<div class="content-w3ls">

		<div class="form_w3layouts">
			<form method="post" class="agile_form" >
  			{% csrf_token %}
  			{{ signup_form.non_field_errors }}

				<!--<div class="agileits-left">
					<input type="text" name="fullname" class="name" placeholder="Nombre y Apellido" required="">
					{% if form.first_name.errors %}
						<h1>error nombre</h1>
					{% endif %}
				</div>-
				<div class="agileits-left">
					<input type="text" name="Id" class="Id" placeholder="Cédula de Identidad" required="">
					{% if form.Id.errors %}
						<h1>error cédula</h1>
					{% endif %}
				</div>-
				<div class="agileits-left">
					<input type="text" name="sex" class="gender" placeholder="Género" required="">
					{% if form.sex.errors %}
						<h1>error género</h1>
					{% endif %}
				</div>
				<div class="checkin agileits-left">
					<input placeholder="Fecha de Nacimiento" class="Bdate" name="Bdate" id="datepicker" type="text" value="" onfocus="this.value = '';"
					    onblur="if (this.value == '') {this.value = '';}" required="" />
					{% if form.Bdate.errors %}
						<h1>error Bdate</h1>
					{% endif %}
				</div>
				<div class="agileits-left s2-w3ls">
					<input type="text" name="cellphone" class="cellphone" placeholder="Número de Teléfono Móvil" required="">
					{% if form.cellphone.errors %}
						<h1>error telf</h1>
					{% endif %}
				</div>
				<div class="agileits-left">
					<input type="text" name="city" class="City" placeholder="Ciudad Donde Vive" required="">
					{% if form.City.errors %}
						<h1>error ciudad</h1>
					{% endif %}
				</div>-->
				<div class="agileits-left">
					<input type="email" name="email" class="email" placeholder="Correo Electrónico" required="">
					{{ form.email.errors }}
				</div>
				<!--<div class="agileits-left">
					<input type="text" name="name" class="username" placeholder="Dirección de Envío" required="">
				</div>-->
				<br>
				<div class="agileits-left">
					<input type="text" name="username" class="username" placeholder="Usuario" required="">
					{{ form.username.errors }}
					
				</div>
				<div class="agileits-left">
					<input type="password" name="password" class="password" placeholder="Contraseña" required="">
					{{ form.password.errors }}
					
				</div>
				<div class="agileits-left">
					<input type="password" name="password2" class="password" placeholder="Confirmación de contraseña" required="">
					{{ form.password2.errors }}
					
				</div>
				
				<div class="submit-w3l">
					<input name="register" type="submit" value="REGISTRATE">
				</div>
			</form>

		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<h2 class="copyright-agileits">© 2018 Music School Registration. Diseñado por w3layouts | Modificado por VentasBap
	</h2>
	<!--<div class="clear"></div>-->
	<!-- js -->
	
	<!--<script src="{% static 'js/Registrate_jquery-2.2.3.min.js' %}"></script>-->
	<!-- //js -->
	<!-- date-->
	<!--<link rel="stylesheet" href="{% static 'css/Registrate_jquery-ui.css' %}" />
	<script src="{% static 'js/Registrate_jquery-ui.js' %"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1").datepicker();
		});
	</script>-->
	<!-- //date -->
	<!-- time -->
	<!--<script type="text/javascript" src="[% static 'js/Registrate_wickedpicker.js' %}"></script>
	<script type="text/javascript">
		$('.timepicker').wickedpicker({
			twentyFour: false
		});
	</script>
	<link href="{% static 'css/Registrate_wickedpicker.css' %" rel="stylesheet" type='text/css' media="all" />-->
	<!-- //time -->


  <!--<h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>-->


{% endblock %}